In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
comprasdf=pd.read_csv('https://raw.githubusercontent.com/megatr0ll/TFM/main/steam_data/game_purchase.csv',
            sep=';', names=['User_ID', 'Game_ID', 'Purchase'])

In [2]:
horasdf=pd.read_csv('https://raw.githubusercontent.com/megatr0ll/TFM/main/steam_data/game_play.csv',
            sep=';', names=['User_ID', 'Game_ID', 'Hours'])

In [10]:
itemdf=pd.read_csv('https://raw.githubusercontent.com/megatr0ll/TFM/main/steam_data/item_info.csv',
            sep=';', names=['Game_ID', 'Game Name'])

In [7]:
userdf=pd.read_csv('https://raw.githubusercontent.com/megatr0ll/TFM/main/steam_data/user_info.csv',
            sep=';', names=['New_ID', 'Real_ID'])

In [12]:
userdf.head()

   New_ID    Real_ID
0  New_ID    Real_ID
1       1  151603712
2       2  187131847
3       3   59945701
4       4   53875128

In [13]:
horasdf.head()

   User_ID  Game_ID  Hours
0  User_ID  Game_ID  Hours
1        1        1  273.0
2        1        2   87.0
3        1        3   14.9
4        1        4   12.1

In [8]:
comprasdf.head()

   User_ID  Game_ID  Purchase
0  User_ID  Game_ID  Purchase
1        1        1       1.0
2        1        2       1.0
3        1        3       1.0
4        1        4       1.0

In [11]:
itemdf.head()

   Game_ID                   Game Name
0  Game_ID                   Game Name
1        1  The Elder Scrolls V Skyrim
2        2                   Fallout 4
3        3                       Spore
4        4           Fallout New Vegas